<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="css/inner.css" />
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<title>登陆</title>
</head>
<body>
	<div class="form-wrapper">
		<div class="number">
			<a href="##" class="linkAGray2 number1">用户登陆</a>
		</div>
		<form action="/login_register" method="post" name="user" id="loginForm"
			class="mainForm1">
			<div class="form">
				<div class="form-item">
					<input type="text" name="name" placeholder="请输入账号"
						required="required" autocomplete="off"></input>
				</div>
				<div class="form-item">
					<input type="password" name="password" placeholder="请输入密码"
						required="required" autocomplete="off"></input>
				</div>
			</div>
		</form>
		<div class="form-item">
			<a class="login_button">登陆</a>
		</div>
	</div>
</body>
</html>